//COLORS
$white:#FFFFFF;
$black: #000000;

$white-darken: #F6F7FA;
$grey:#C6D0E0;
$grey-light:#75777A;
$grey-dark:#333333;
$blue:#065BEA;
$hover-element: #0A4AB6;
$error-color: #FF4B26;


//SIZE
$text-font-size:14px;
$first-font-size:28px;
$second-font-size:20px;
$error-font-size:12px;


//FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

$font-main: 'Montserrat', sans-serif;